
        .p1{
            width: 50%;
        }
        .p2{
            width: 50%;
        }
        .p3{
            width: 50%;
        }
        .p4{
            width: 50%;
        }
        .p5{
            width: 50%;
        }